extends layout

block content
	h1 hi


	mixin scale(q)
		p= q
		label(for="btn5")
			#radio5(class="radiodiv")
				input#btn5(type="radio" name= q value="5")
				span(class="bgcircle")
			img#img5(class="btnimg" src="/images/btn5.svg") 
		label(for="btn4")
			#radio4(class="radiodiv")
				input#btn4(type="radio" name= q value="4")
				span(class="bgcircle")
			img#img4(class="btnimg" src="/images/btn4.svg")
		label(for="btn3")
			#radio3(class="radiodiv")
				input#btn3(type="radio" name= q value="3")
				span(class="bgcircle")
			img#img3(class="btnimg" src="/images/btn3.svg")
		label(for="btn2")
			#radio2(class="radiodiv")
				input#btn2(type="radio" name= q value="2")
				span(class="bgcircle")
			img#img2(class="btnimg" src="/images/btn2.svg") 
		label(for="btn1")
			#radio1(class="radiodiv")
				input#btn1(type="radio" name= q value="1")
				span(class="bgcircle")
			img#img1(class="btnimg" src="/images/btn1.svg")
		
	

	form#answers
		each index in ql
			+scale(index.question)
		input#submitBtn(type="button" onclick="shitbitch()" value="GO")
	
	script(src='/javascripts/indexhelper.js')











