extends layout

block style
	link(rel='stylesheet' href='/stylesheets/comments-style.css')

block content
	p#heading Comments
	#logoDiv
		img#logo(src="images/logo.png")
	#textResDiv
		p#textResP
			span#textRes
	script.
		var str = "#{JSON.stringify(ql)}".replace(/&quot;/g, "\"");				
		var questions = JSON.parse(str);    
	script(src='/javascripts/endcomments.js')
