extends layout

block style
	link(rel='stylesheet' href='/stylesheets/graphs-style.css')

block content
	p#heading Ratings
	#graphDiv
		svg#graph
			g#bars
			g#ax
			g#subtext
		svg#pie
			g#arcs
	script.
		var str = "#{JSON.stringify(ql)}".replace(/&quot;/g, "\"");				
		var questions = JSON.parse(str);    
	script(src='/javascripts/endgraphs.js')
