extends layout

block style
	link(rel='stylesheet' href='/stylesheets/graphs-style.css')

block content
	p#heading Event Ratings
	#graphDiv
		svg#graph
			g#bars
			g#ax
			g#subtext
		svg#pie
			g#pc

	script(src='/javascripts/graphs-page.js')



