extends layout

block content
	h1 We have some dope quesions
		

	script.
		function datasend( x, y) {
			var newUser = {
				'question': x ,
				'answer': y
				}

			$.ajax({
				type: 'POST',
				data: newUser,
				url: '/database/sendfeedback',
				dataType: 'JSON'
				});
		}

	mixin scale(q)
		p= q
		button(onclick='datasend( q , 1)') 1
		button(onclick='datasend(\"" + q + "\" , 2)') 2
		button(onclick='datasend(\"" + q + "\" , 3)') 3
		button(onclick='datasend(\"" + q + "\" , 4)') 4
		button(onclick='datasend(\"" + q + "\" , 5)') 5  

	mixin text(q)
		First  
			p= q
			input#myText(type='text', value='Response')
		
			button(onclick='myFunction(q)') Reply
			p#demo
			script.
				function myFunction(q) {
					var x = document.getElementById("myText").value;
					datasend(q , x)
				}




	each index in ql  
		if index.type == "scale"
			+scale(index.question)

		if index.type == "text"
			+text(index.question)




	
	




