extends layout

block content
	h1 Questions
	p Answers

	mixin scale(q)
		p= q
		table(style="width:100%")
			tr
				td
					label(for="btn5")
						#radio5(class="radiodiv")
							input#btn5(type="radio" name= q)
							span(class="bgcircle")
							img#img5(class="btnimg" src="/images/btn5.svg") 
				td
					label(for="btn4")					
						#radio4(class="radiodiv")
							input#btn4(type="radio" name= q)
							span(class="bgcircle")
							img#img4(class="btnimg" src="/images/btn4.svg")
				td
					label(for="btn3")
						#radio3(class="radiodiv")
							input#btn3(type="radio" name= q)
							span(class="bgcircle")
							img#img3(class="btnimg" src="/images/btn3.svg")
				td
					label(for="btn2")
						#radio2(class="radiodiv")
							input#btn2(type="radio" name= q)
							span(class="bgcircle")
							img#img2(class="btnimg" src="/images/btn2.svg") 
				td
					label(for="btn1")
						#radio1(class="radiodiv")
							input#btn1(type="radio" name= q)
							span(class="bgcircle")
							img#img1(class="btnimg" src="/images/btn1.svg")
				

		table(style="width:100%")
			tr
				td
					label(for="star5")
						#radio5(class="radiodivv")
							input#star5(type="radio" name= q)
							img#img5(class="starimg" src="/images/star.png") 
				td
					label(for="star4")
						#radio4(class="radiodivv")
							input#star4(type="radio" name= q)
							img#img4(class="starimg" src="/images/star.png") 	
				td
					label(for="star3")
						#radio3(class="radiodivv")
							input#star3(type="radio" name= q)
							img#img3(class="starimg" src="/images/star.png")
				td
					label(for="star2")
						#radio2(class="radiodivv")
							input#star2(type="radio" name= q)
							img#img2(class="starimg" src="/images/star.png") 
				td
					label(for="star1")
						#radio1(class="radiodivv")
							input#star1(type="radio" name= q)
							img#img1(class="starimg" src="/images/star.png") 			

		

		
 

	mixin text(q)
		First  
			p= q
			input#myText(type='text', value='Response')

	each index in ql  
		if index.type == "scale"
			+scale(index.question)

		if index.type == "text"
			+text(index.question)

	#submitBtnDiv
		button#sub Submit




