extends layout

block content
    h1 a test for datasend
    script.
        function datasend( x, y) {
            var newUser = {
                'question': x ,
                'answer': y
            }

            $.ajax({
                type: 'POST',
                data: newUser,
                url: '/database/sendfeedback',
                dataType: 'JSON'
            });
        }

    button(onclick='datasend("sup" , "nothing")') datasend




