extends layout

block content
	h1 I just some attention, please answer my questions, please...
		

	script.
		function datasend( x, y) {
			var newUser = {
				'question': x ,
				'answer': y
				}

			$.ajax({
				type: 'POST',
				data: newUser,
				url: '/database/sendfeedback',
				dataType: 'JSON'
				});
		}

		function myFunction(q) {
					var x = document.getElementById("myText").value;
					datasend(m  , x);
				}


	mixin scale(q)
		p= q
		button(onclick='datasend( m , 1 )') 1
		button(onclick='datasend(m , 2)') 2
		button(onclick='datasend(m , 3)') 3  
		button(onclick='datasend(m , 4)') 4
		button(onclick='datasend(m , 5)') 5  

	mixin text(q)
		First  
			p= q
			input#myText(type='text', value='Response')
			
			
			button(onclick='myFunction(m)') Reply
			



	script.


	each index in ql  
		if index.type == "scale"
			script. 
				var m = JSON.stringify('!{index.question}');
			+scale(index.question)

		if index.type == "text"
			script. 
				var m = JSON.stringify('!{index.question}');
			+text(index.question)

