extends layout

block content
	p Please answer these questions:
	a(href="/") go to the lame guys page

	mixin scale-faces(q)
		div(class="scale")
			p= q
			table
				tr
					td
						label(for="btn5")
							#radio5(class="radiodiv")
								input#btn5(type="radio" name= q)
								span(class="bgcircle")
								img#img5(class="btnimg" src="/images/btn5.svg") 
					td
						label(for="btn4")					
							#radio4(class="radiodiv")
								input#btn4(type="radio" name= q)
								span(class="bgcircle")
								img#img4(class="btnimg" src="/images/btn4.svg")
					td
						label(for="btn3")
							#radio3(class="radiodiv")
								input#btn3(type="radio" name= q)
								span(class="bgcircle")
								img#img3(class="btnimg" src="/images/btn3.svg")
					td
						label(for="btn2")
							#radio2(class="radiodiv")
								input#btn2(type="radio" name= q)
								span(class="bgcircle")
								img#img2(class="btnimg" src="/images/btn2.svg") 
					td
						label(for="btn1")
							#radio1(class="radiodiv")
								input#btn1(type="radio" name= q)
								span(class="bgcircle")
								img#img1(class="btnimg" src="/images/btn1.svg")
				

		mixin scale-stars(q)
			div(class="scale")
				p= q
				table
					tr
						td
							label(for="star5")
								#radio5(class="radiodiv")
									input#star5(type="radio" name= q)
									img#img5(class="btnimg" src="/images/star.png") 
						td
							label(for="star4")
								#radio4(class="radiodiv")
									input#star4(type="radio" name= q)
									img#img4(class="btnimg" src="/images/star.png") 	
						td
							label(for="star3")
								#radio3(class="radiodiv")
									input#star3(type="radio" name= q)
									img#img3(class="btnimg" src="/images/star.png")
						td
							label(for="star2")
								#radio2(class="radiodiv")
									input#star2(type="radio" name= q)
									img#img2(class="btnimg" src="/images/star.png") 
						td
							label(for="star1")
								#radio1(class="radiodiv")
									input#star1(type="radio" name= q)
									img#img1(class="btnimg" src="/images/star.png") 	
		mixin scale-hearts(q)
			div(class="scale")
				p= q
				table
					tr
						td
							label(for="hrt5")
								#radio5(class="radiodiv")
									input#hrt5(type="radio" name= q)
									img#img5(class="btnimg" src="/images/hrt.svg") 
						td
							label(for="hrt4")
								#radio4(class="radiodiv")
									input#hrt4(type="radio" name= q)
									img#img4(class="btnimg" src="/images/hrt.svg") 	
						td
							label(for="hrt3")
								#radio3(class="radiodiv")
									input#hrt3(type="radio" name= q)
									img#img3(class="btnimg" src="/images/hrt.svg")
						td
							label(for="hrt2")
								#radio2(class="radiodiv")
									input#hrt2(type="radio" name= q)
									img#img2(class="btnimg" src="/images/hrt.svg") 
						td
							label(for="hrt1")
								#radio1(class="radiodiv")
									input#hrt1(type="radio" name= q)
									img#img1(class="btnimg" src="/images/hrt.svg") 			


		

		
 

	mixin text(q)
		div(class="text")
			p= q
			input#myText(type='text', value='Response')

	each index in ql  
		if index.type == "scale"
			+scale-faces(index.question)
			+scale-stars(index.question)
			+scale-hearts(index.question)

		if index.type == "text"
			+text(index.question)

	#submitBtnDiv
		button#sub Submit




