doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')
		meta(name="viewport" content="width=1000")
		block style
		
	body
		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.9/processing.min.js")
		block content

		
		