doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')
		block style
		
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/global.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.9/processing.min.js")

		
		