extends layout

block style
	link(rel='stylesheet' href='/stylesheets/topiclist-style.css')

block content
	p#heading Choose a class to rate:
	p#test ppp
	mixin topic(clName)
		div(class="listItem" classname=clName)
			p(class="listItemText")= clName

	each cl in clList
		+topic(cl.name)

	script(src='/javascripts/topiclist.js')