extends layout

block style
	link(rel='stylesheet' href='/stylesheets/topiclist-style.css')

block content
	#logoDiv
		img#logo(src="images/logo.png")
	p#heading Choose a session to rate:
	mixin topic(clName)
		div(class="listItem" classname=clName)
			p(class="listItemText")= clName

	each cl in clList
		+topic(cl.name)

	script(src='/javascripts/topiclist.js')