


input {
    border: 0;
    /background: transparent;
	}
input[type="radio"] {
	display: none;
	}
img.btnimg {
	position:absolute;
/*	top:15px;*/
/*	left:15px;*/
	display:block;
	z-index:50;
	width:120px;
	height:120px; 
	background-color:transparent;
	vertical-align:middle;
	}
table{
	width:100%;
	}
.scale, .text{
	margin-top:500px;
	}
td{
	vertical-align:middle;
	text-align:center;
	}
span.bgcircle {
	position:absolute;
	top:-30px;
	left:-27px;
	display:block;
	width:170px;
	height:170px;
	border-radius:  50%;
	background-color:#FFCCFF;
	transition:background-color .5	s linear;
	}
input[type="radio"]:checked + span {
    background-color:#FF0099;
	transition:background-color .5s linear;
	}
div.radiodiv {
	position:relative;
	z-index:49;
	display: inline-block;
	}
