#graphDiv{
	display: block;
	width: 100%;
	vertical-align: middle;
}
#graph {
	display: inline-block;
	margin-right: 10%;
	margin-left: 10%;
}
#pie {
	display: inline-block;
	float:left;
	margin-left: 10%;
}
p#heading {
	font-size : 70px;
}