body{
	background-image:url("/images/xp-temp-logo-4.png");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100% 100%;
}


input {
    border: 0;
    background: transparent;
}
input[type="radio"] {
	display: none;
}
img.btnimg {
	position:absolute;
	top:10px;
	left:10px;
	display:block;
	z-index:50;
	width:40px;
	height:40px; 
	background-color:rgba(0,0,0,0);
	vertical-align:middle;
}


td{
	vertical-align:middle;
	text-align:center;
}


span.bgcircle {
	position:absolute;
	top:2.5px;
	left:2.5px;
	display:block;
	width:55px;
	height:55px;
	border-radius:  50%;
	background-color:#FFCCFF;
	transition:background-color .5	s linear;
}

input[type="radio"]:checked + span {
    background-color:#FF0099;
	transition:background-color .5s linear;
}

div.radiodiv {
	position:relative;
	z-index:49;
	display: inline-block;
}
