input {
    border: 0;
    background: transparent;
}
input[type="radio"] {
	display: none;

}
img.btnimg {
	z-index:1;
	width:25px;
	height:25px;
	background-color:rgba(0,0,0,0);
	vertical-align:middle;
}

img#img3 {
	/*padding:25px;*/
	width:27px;
	height:27px;
}



span.bgcircle {
	display:inline-block;
	width:39px;
	height:39px;
	border-radius:  50%;
	background-color:#FFCCFF;
	transition:background-color .7	s linear;
}

input[type="radio"]:checked + span {
     background-color:#FF0099;
	transition:background-color .7s linear;
}

div.radiodiv {
	z-index:-1;
	display: inline-block;
	position:relative;
	left:32px;
	top:13px;
}
