.listItem {
	display: block;
	width: 100%;
	height: 150px;
	vertical-align: middle;
	border: 1px solid white;
	border-radius: 50px;
	background: linear-gradient(to bottom, rgba(0, 0, 200, 0.5), rgba(0, 0, 50, 0.5));
}
.listItemText{
	text-align: center;
	line-height: 150%;
	margin-top: 0;
	margin-bottom: 0;
}
#heading{
	font-size: 80px;
}